.dark-tag{
  color: #49aa19;
  background: #162312;
  border-color: #274916;
}
.dark-card{
  background-color: #1E1E2A;
  .ant-card-head{
    border-bottom-color:#303030;
    color: rgba(255, 255, 255, 0.85);
  }
}
.dark-empty{
  .ant-empty-img-simple-ellipse{
    fill: #fff;
    fill-opacity: 0.08;
  }
  .ant-empty-img-simple-path{
    fill: #262626;
    stroke: #434343;
  }
  .ant-empty-img-simple-g{
    stroke: #434343;
  }
}
.dark-badge{
  .ant-badge-count{
    box-shadow: 0 0 0 1px #141414;
    background: #a61d24;
  }
}